{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} {{ post.title }} {% endblock %}</h2>
<span class="badge badge-dark">{{ post.author.username }}</span>
<span class="badge badge-secondary">{{ post.formatted_created }}</span>
<p>{{ post.content }}</p>
{% if post.user_id == current_user.id %}
<hr>
<a href="{{ url_for('posts.update', post_id=post.id) }}" class="btn btn-outline-warning">Modifier</a>
<form action="{{ url_for('posts.delete', post_id=post.id) }}" method="POST" style="display:inline;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-outline-danger">Supprimer</button>
</form>
{% endif %}
{% endblock %}