{% extends 'admin/model/details.html' %}
{% block body %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li class="nav-item">
        <a class="nav-link" href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <li class="nav-item">
        <a class="nav-link" href="{{ get_url('.edit_view', id=user.id, url=return_url) }}">{{
            _gettext('Edit') }}</a>
    </li>
    {%- endif -%}
    <li class="nav-item">
        <a class="nav-link active disabled" href="javascript:void(0)">{{ _gettext('Details') }}</a>
    </li>
</ul>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Informations de l'utilisateur
                </div>
                <div class="card-body">
                    <p><strong>ID :</strong> {{ user.id }}</p>
                    <p><strong>Pseudo :</strong> {{ user.username }}</p>
                    <p><strong>Email :</strong> {{ user.email }}</p>
                    <p><strong>Membre depuis :</strong> {{ user.formatted_created }}</p>
                    <p><strong>Est admin :</strong> {{ "Oui" if user.is_admin else "Non" }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Articles de l'utilisateur
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Contenu</th>
                                <th scope="col">Créé le</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in user.posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.content }}</td>
                                <td>{{ post.formatted_created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}