{% extends 'admin/master.html' %}

{% block body %}
<div class="container mt-4">
    <h1>{%block title%}Tableau de bord{% endblock %}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Statistiques générales
                </div>
                <div class="card-body">
                    <p><strong>Nombre total d'administrateurs :</strong> {{ admin_count }}</p>
                    <p><strong>Nombre total d'utilisateurs :</strong> {{ user_count }}</p>
                    <p><strong>Nombre total de posts :</strong> {{ post_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Actions rapides
                </div>
                <div class="card-body">
                    <a href="{{ url_for('user.create_view') }}" class="btn btn-secondary btn-sm">Ajouter un
                        utilisateur</a>
                    <a href="{{ url_for('post.create_view') }}" class="btn btn-secondary btn-sm">Ajouter un article</a>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary btn-sm">Retourner au Blog</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Nouveaux utilisateurs
                </div>
                <div class="card-body">
                    <ul>
                        {% for user in recent_users %}
                        <li>
                            <a href="{{ url_for('user.details_view', id=user.id) }}">{{ user.username }}</a>
                            - Inscrit le {{ user.formatted_created }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Nouveaux posts
                </div>
                <div class="card-body">
                    <ul>
                        {% for post in recent_posts %}
                        <li>
                            <a href="{{ url_for('post.details_view', id=post.id) }}">{{ post.title }}</a> par {{ post.author.username }} - Créé le {{ post.formatted_created }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}