{% extends 'base.html' %}
{% block title %} Créer un nouvel article {% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<h1>Nouvel article</h1>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.title.label(class='form-label') }}
        {{ form.title(class='form-control') }}
        <br />
        {{ form.content.label(class='form-label') }}
        {{ form.content(class='form-control') }}
        <br />
        {{ form.submit(class='btn btn-secondary') }}
    </form>
</div>
{% else %}
<h2>Connexion nécessaire</h2>
<p>Désolé, vous devez être connecté pour accéder à cette page</p>
<a href="{{ url_for('users.login') }}" class="btn btn-secondary">Se connecter</a>
{% endif %}
{% endblock %}