{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
<br />
{% for post in posts %}
<div class="card mb-2">
    <div class="card-body">
        <a href="{{ url_for('posts.post', post_id=post.id) }}" class="custom-link">
            <h3>{{ post.title }}</h3>
        </a>
        <h6 class="card-subtitle mb-2">Auteurice : <span style="font-weight: bold;">{{ post.author.username }}</span></h6>
        <span class="badge badge-secondary">{{ post.formatted_created }}</span>
    </div>
</div>

{% endfor %}
<br />
<br />
{% endblock %}